In [2]:
import tensorflow as tf

In [3]:
print(tf.__version__)

2.19.0

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
x = df.iloc[:,3:13]
y = df.iloc[:,13]

In [7]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [8]:
x = pd.get_dummies(x,columns=["Geography","Gender"],drop_first=True,dtype=int)

In [9]:
x

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [22]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [24]:
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [26]:
x_train

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [27]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,LeakyReLU,ReLU,ELU,PReLU,Dropout

In [28]:
classifier = Sequential()

In [31]:
classifier.add(Dense(units=11,activation="relu"))

In [34]:
classifier.add(Dense(units=7,activation="relu"))

In [35]:
classifier.add(Dense(units=7,activation="relu"))

In [36]:
classifier.add(Dense(units=1,activation="sigmoid"))

In [40]:
classifier.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])

2025-09-28 16:47:37.116030: E external/local_xla/xla/stream_executor/cuda/cuda_platform.cc:51] failed call to cuInit: INTERNAL: CUDA error: Failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected

In [41]:
import tensorflow.keras as keras
early_stopping = keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0.001,
    patience=20,
    verbose=1,
    mode="auto",
    baseline=None,
    restore_best_weights=False,
    start_from_epoch=0,
)

In [42]:
model_history = classifier.fit(x_train,y_train,validation_split=0.33,batch_size=10,epochs=1000,callbacks=early_stopping)

Epoch 1/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7733 - loss: 0.5428 - val_accuracy: 0.7955 - val_loss: 0.4532
Epoch 2/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7967 - loss: 0.4412 - val_accuracy: 0.8076 - val_loss: 0.4357
Epoch 3/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 988us/step - accuracy: 0.8274 - loss: 0.4117 - val_accuracy: 0.8118 - val_loss: 0.4263
Epoch 4/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 949us/step - accuracy: 0.8324 - loss: 0.4079 - val_accuracy: 0.8183 - val_loss: 0.4182
Epoch 5/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 970us/step - accuracy: 0.8323 - loss: 0.4049 - val_accuracy: 0.8186 - val_loss: 0.4133
Epoch 6/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 967us/step - accuracy: 0.8362 - loss: 0.3838 - val_accuracy: 0.8220 - val_loss: 0.4075
Epoch 7/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8371 - loss: 0.3901 - val_accuracy: 0.8304 - val_loss: 0.4092
Epoch 8/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 978us/step - accuracy: 0.8343 - loss: 0.3941 - val_accuracy: 0.8326 - val_loss: 0.3982
Epoch 9/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 975us/step - accuracy: 0.8424 - loss: 0.3853 - val_accuracy: 0.8364 - val_loss: 0.3915
Epoch 10/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 972us/step - accuracy: 0.8515 - loss: 0.3650 - val_accuracy: 0.8323 - val_loss: 0.3879
Epoch 11/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 955us/step - accuracy: 0.8538 - loss: 0.3467 - val_accuracy: 0.8398 - val_loss: 0.3815
Epoch 12/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 945us/step - accuracy: 0.8543 - loss: 0.3498 - val_accuracy: 0.8398 - val_loss: 0.3805
Epoch 13/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8547 - loss: 0.3564 - val_accuracy: 0.8436 - val_loss: 0.3753
Epoch 14/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 964us/step - accuracy: 0.8565 - loss: 0.3559 - val_accuracy: 0.8485 - val_loss: 0.3740
Epoch 15/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8643 - loss: 0.3389 - val_accuracy: 0.8470 - val_loss: 0.3711
Epoch 16/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8639 - loss: 0.3371 - val_accuracy: 0.8478 - val_loss: 0.3713
Epoch 17/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 959us/step - accuracy: 0.8617 - loss: 0.3417 - val_accuracy: 0.8478 - val_loss: 0.3694
Epoch 18/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 953us/step - accuracy: 0.8604 - loss: 0.3253 - val_accuracy: 0.8546 - val_loss: 0.3689
Epoch 19/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 964us/step - accuracy: 0.8632 - loss: 0.3242 - val_accuracy: 0.8523 - val_loss: 0.3703
Epoch 20/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 951us/step - accuracy: 0.8702 - loss: 0.3167 - val_accuracy: 0.8470 - val_loss: 0.3707
Epoch 21/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 973us/step - accuracy: 0.8596 - loss: 0.3348 - val_accuracy: 0.8516 - val_loss: 0.3691
Epoch 22/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 964us/step - accuracy: 0.8716 - loss: 0.3183 - val_accuracy: 0.8478 - val_loss: 0.3703
Epoch 23/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 997us/step - accuracy: 0.8625 - loss: 0.3280 - val_accuracy: 0.8482 - val_loss: 0.3689
Epoch 24/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8612 - loss: 0.3390 - val_accuracy: 0.8523 - val_loss: 0.3668
Epoch 25/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8604 - loss: 0.3350 - val_accuracy: 0.8474 - val_loss: 0.3692
Epoch 26/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 979us/step - accuracy: 0.8528 - loss: 0.3445 - val_accuracy: 0.8546 - val_loss: 0.3673
Epoch 27/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8674 - loss: 0.3294 - val_accuracy: 0.8391 - val_loss: 0.3764
Epoch 28/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 963us/step - accuracy: 0.8679 - loss: 0.3311 - val_accuracy: 0.8516 - val_loss: 0.3676
Epoch 29/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 976us/step - accuracy: 0.8658 - loss: 0.3296 - val_accuracy: 0.8504 - val_loss: 0.3678
Epoch 30/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 974us/step - accuracy: 0.8617 - loss: 0.3243 - val_accuracy: 0.8531 - val_loss: 0.3660
Epoch 31/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 968us/step - accuracy: 0.8656 - loss: 0.3242 - val_accuracy: 0.8501 - val_loss: 0.3666
Epoch 32/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 970us/step - accuracy: 0.8565 - loss: 0.3359 - val_accuracy: 0.8538 - val_loss: 0.3705
Epoch 33/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 936us/step - accuracy: 0.8685 - loss: 0.3226 - val_accuracy: 0.8531 - val_loss: 0.3676
Epoch 34/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8668 - loss: 0.3353 - val_accuracy: 0.8489 - val_loss: 0.3698
Epoch 35/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 947us/step - accuracy: 0.8616 - loss: 0.3383 - val_accuracy: 0.8516 - val_loss: 0.3682
Epoch 36/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 945us/step - accuracy: 0.8656 - loss: 0.3280 - val_accuracy: 0.8569 - val_loss: 0.3634
Epoch 37/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 936us/step - accuracy: 0.8677 - loss: 0.3184 - val_accuracy: 0.8535 - val_loss: 0.3635
Epoch 38/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8676 - loss: 0.3270 - val_accuracy: 0.8542 - val_loss: 0.3638
Epoch 39/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8689 - loss: 0.3215 - val_accuracy: 0.8497 - val_loss: 0.3662
Epoch 40/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8769 - loss: 0.3124 - val_accuracy: 0.8489 - val_loss: 0.3682
Epoch 41/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 987us/step - accuracy: 0.8591 - loss: 0.3271 - val_accuracy: 0.8538 - val_loss: 0.3647
Epoch 42/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8668 - loss: 0.3281 - val_accuracy: 0.8508 - val_loss: 0.3671
Epoch 43/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8639 - loss: 0.3339 - val_accuracy: 0.8531 - val_loss: 0.3655
Epoch 44/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8641 - loss: 0.3286 - val_accuracy: 0.8542 - val_loss: 0.3632
Epoch 45/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8721 - loss: 0.3157 - val_accuracy: 0.8538 - val_loss: 0.3650
Epoch 46/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 972us/step - accuracy: 0.8652 - loss: 0.3232 - val_accuracy: 0.8535 - val_loss: 0.3662
Epoch 47/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 993us/step - accuracy: 0.8614 - loss: 0.3288 - val_accuracy: 0.8523 - val_loss: 0.3716
Epoch 48/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 991us/step - accuracy: 0.8646 - loss: 0.3198 - val_accuracy: 0.8516 - val_loss: 0.3638
Epoch 49/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 982us/step - accuracy: 0.8637 - loss: 0.3266 - val_accuracy: 0.8501 - val_loss: 0.3667
Epoch 50/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 976us/step - accuracy: 0.8707 - loss: 0.3186 - val_accuracy: 0.8531 - val_loss: 0.3640
Epoch 51/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 998us/step - accuracy: 0.8691 - loss: 0.3153 - val_accuracy: 0.8546 - val_loss: 0.3640
Epoch 52/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 970us/step - accuracy: 0.8626 - loss: 0.3233 - val_accuracy: 0.8542 - val_loss: 0.3658
Epoch 53/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 965us/step - accuracy: 0.8635 - loss: 0.3249 - val_accuracy: 0.8519 - val_loss: 0.3657
Epoch 54/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8637 - loss: 0.3143 - val_accuracy: 0.8535 - val_loss: 0.3685
Epoch 55/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8714 - loss: 0.3172 - val_accuracy: 0.8501 - val_loss: 0.3652
Epoch 56/1000
536/536 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8599 - loss: 0.3232 - val_accuracy: 0.8519 - val_loss: 0.3677
Epoch 56: early stopping

In [51]:
model_history.history.keys()

dict_keys(['accuracy', 'loss', 'val_accuracy', 'val_loss'])